<section class="client-sec-1">
  <div class="client-subsec">
  <div class="row">
     <div class="col-12 col-md-12">
      <div class="container pt-5 cliente-cont">
          <div class="">
              <h1 class="titulo-registro" style="font-family: Copperplate, fantasy;">Datos de Cliente</h1>
          </div>
          <!-- Form para guardar los datos del chef y se captura con [(ngModel)] -->
          <form>
              <div class="form-row" >
                  <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Apellidos</mat-label>
                      <input matInput [(ngModel)]="client.lastname" [formControl]="lastnameFormControl" autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressLetters($event)" required>
                      <mat-error *ngIf="lastnameFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="form-row" >
                  <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Nombres</mat-label>
                      <input matInput [(ngModel)]="client.firstname" [formControl]="firstnameFormControl"  autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressLetters($event)" required>
                      <mat-error *ngIf="firstnameFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="form-row" >
                  <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Dirección</mat-label>
                      <input matInput [(ngModel)]="client.adress" [formControl]="adressFormControl" autocomplete="off" type="text" style="color: black !important;" required>
                      <mat-error *ngIf="adressFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="form-row" >
                  <mat-form-field class="col-md-6" *ngIf="client_id==0" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Correo electrónico</mat-label>
                      <input matInput [(ngModel)]="client.email" [formControl]="emailFormControl" autocomplete="off" type="text" style="color: black !important;" required>
                      <mat-error *ngIf="emailFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Por favor ingresa una <strong>dirección de correo válida</strong>
                      </mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-md-6" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Teléfono celular</mat-label>
                      <input matInput [(ngModel)]="client.phone" maxlength="9" [formControl]="phoneFormControl" autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressNumbers($event)" required>
                      <mat-error *ngIf="phoneFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="phoneFormControl.hasError('minlength')">
                          La cantidad de digitos debe ser <strong>9</strong>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="form-row" *ngIf="client_id==0">
                  <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                      <mat-label>Password</mat-label>
                      <input matInput [(ngModel)]="client.password" type="password" [formControl]="passwordFormControl" autocomplete="off" style="color: black !important;" required>
                      <mat-error *ngIf="passwordFormControl.hasError('required')">
                          Este campo es <strong>requerido</strong>
                      </mat-error>
                  </mat-form-field>
              </div>

              <!-- Div de botones para regresar o guardar los datos de los campos -->
              <div class="form-row pt-2">
                  <div class="col-sm-12 text-right">
                      <button class="btn-danger" mat-raised-button style="margin-bottom: 15px;margin-right: 8px;" (click)="back()">Regresar</button>
                      <button class="btn-info" mat-raised-button style="margin-bottom: 15px;" (click)="saveClient()">Guardar</button>
                  </div>
              </div>
          </form>
      </div>
     </div>
  </div>
  </div>
</section>

