<div class="container pt-5 animated fadeIn chef-bg">
  <div class="pt-5">
      <!--titulo-->
      <h1 style="color: white;">Listado de Chefs</h1>
  </div>
   <!-- Tabla que muestra el listado de todos los chefs que están registrado en el sistema -->
  <div class="tabla">
    <div class="mt-20 user-contenedor-table">
      <table mat-table matSort [dataSource]="dataSourceOne" class="mat-elevation-z8 user-table" #TableOneSort="matSort" style="width: 100%;">

        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef mat-sort-header  style="padding-right: 5px;">DNI</th>
          <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
        </ng-container>

        <ng-container matColumnDef="fullnombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Nombres y apellidos</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.firstname }} {{ element.lastname }} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Celular</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Email</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="turno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Turno</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 5px;text-align: justify;">{{ element.workshift }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne" (click)="seleccionarChef(row)" [style.background]="chefSeleccionado == row ? 'lightblue' : ''"></tr>
      </table>
    </div>
  </div>
  <mat-paginator #TableOnePaginator="matPaginator" [pageSize]="10" [pageSizeOptions]="[5, 10]"></mat-paginator>
   <!-- Grupo de botones para manipular el listado de chefs -->
  <div class="row pt-2">
      <div class="col-12 text-right">
          <button mat-raised-button (click)="editarChef()" [disabled]="chefSeleccionado == null" color="accent" style="margin-left: 5px;" disabled>Editar</button>
          <button mat-raised-button (click)="eliminarChef()" [disabled]="chefSeleccionado == null" class="btn-danger" style="margin-left: 5px;" disabled>Eliminar</button>
          <button mat-raised-button  (click)="agregarChef()" class="btn-info"  style="margin-left: 5px;">Agregar</button>
      </div>
  </div>
</div>
