<mat-sidenav-container class="example-container">
  <mat-sidenav class="listita bg-info" style="color:black; " #sidenav mode="side" [(opened)]="opened">
      <!-- <a href="javascript:void(0);" style="text-align: center;">
          <h5 style="margin-top: 11px;margin-bottom: 10px;"><strong>ChickenApp</strong></h5>
      </a> -->
      <mat-nav-list class="menu" style="background-color: #86eed4;">
          <div class="perfil col-md-6 col-sm-12" style="height: 100px;">
              <img src="assets/logos/cevichelogo.png" class="logo-container">
          </div>
          <div class="perfil col-md-6 col-sm-12" style="height: 100px;">
            <h1 style="font-family: Copperplate, fantasy; color: white;"><br>RESTU</h1>
          </div>

        <mat-accordion>
            <mat-expansion-panel style="background-color: #eecd86; box-shadow: none;border-radius: 0 0 0 0;" [expanded]="true">
                <mat-expansion-panel-header style="margin-left: -23px;background-color: #7a3e48;" class="specific-class">
                    <mat-panel-title style="padding-left: 0px !important;">
                        <span style="color: rgb(53, 42, 42);font-size: 14px;margin-left: 15px;">Módulo mantenimiento</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <a mat-list-item  (click)="goto('/plan/listado')" *ngIf=" role_id == 1 || role_id == 2" > -->
                <a mat-list-item (click)="goto('/chef/listar')" >
                  <img src="assets/icons/cocinero.png" class="logos">
                    <span>Chef</span>
                </a>
                <a mat-list-item (click)="goto('/deliveryboy/listar')" >
                  <img src="assets/icons/delivery-bike.png" class="logos">
                    <span>Deliveryboys</span>
                </a>
                <a mat-list-item (click)="goto('/category/listar')" >
                  <img src="assets/icons/lista.png" class="logos">
                    <span>Categorías</span>
                </a>
                <a mat-list-item (click)="goto('/product/listado')" >
                  <img src="assets/icons/plato.png" class="logos2">
                    <span>Productos</span>
                </a>
                <a mat-list-item (click)="goto('/promotion/listado')" >
                  <img src="assets/icons/promotion.png" class="logos2">
                    <span>Promociones</span>
                </a>
                <a mat-list-item (click)="goto('/order/listado')" >
                  <img src="assets/icons/orden.png" class="logos2">
                    <span>Ordenes</span>
                </a>
                <a mat-list-item (click)="goto('/sales/listado')" >
                  <img src="assets/icons/comida-rapida.png" class="logos2">
                    <span>Ventas</span>
                </a>
                <a mat-list-item (click)="goto('/sales/top')" >
                  <img src="assets/icons/comida-rapida.png" class="logos2">
                    <span>Platos más vendidos</span>
                </a>
                <a mat-list-item (click)="goto('/combo/listado')" >
                  <img src="assets/icons/comida-rapida.png" class="logos2">
                    <span>Combos</span>
                </a>
                <!--<a mat-list-item (click)="cambiarDisponibilidadTienda()" >
                  <img src="assets/images/backgrounds/orden.png" class="logos">
                    <span>Cambiar Disponibilidad de la tienda</span>
                    <span class="badge badge-success">{{stateTienda}}</span>
                </a>-->
            </mat-expansion-panel>
        </mat-accordion>

          <mat-accordion *ngIf=" role_id == 3">
            <mat-expansion-panel style="background-color: #eecd86; box-shadow: none;border-radius: 0 0 0 0;" [expanded]="true">
                <mat-expansion-panel-header style="margin-left: -23px;background-color: #7a3e48;" class="specific-class">
                    <mat-panel-title style="padding-left: 0px !important;">
                        <span style="color: rgb(53, 42, 42);font-size: 14px;margin-left: 15px;">Módulo mantenimiento</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <a mat-list-item  (click)="goto('/plan/listado')" *ngIf=" role_id == 1 || role_id == 2" > -->
                <a mat-list-item (click)="goto('/order/listado-chef')" >
                  <img src="assets/images/backgrounds/orden.png" class="logos">
                    <span>Pedidos</span>
                </a>
              </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion *ngIf=" role_id == 4">
            <mat-expansion-panel style="background-color: #eecd86; box-shadow: none;border-radius: 0 0 0 0;" [expanded]="true">
                <mat-expansion-panel-header style="margin-left: -23px;background-color: #7a3e48;" class="specific-class">
                    <mat-panel-title style="padding-left: 0px !important;">
                        <span style="color: rgb(53, 42, 42);font-size: 14px;margin-left: 15px;">Módulo mantenimiento</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <a mat-list-item  (click)="goto('/plan/listado')" *ngIf=" role_id == 1 || role_id == 2" > -->
                <a mat-list-item (click)="goto('/order/listado-deliveryboy')" >
                  <img src="assets/images/backgrounds/orden.png" class="logos">
                    <span>Pedidos</span>
                </a>
                <!--<a mat-list-item (click)="cambiarDisponibilidad()" >
                  <img src="assets/images/backgrounds/orden.png" class="logos">
                    <span>Cambiar Disponibilidad</span>
                    <span class="badge badge-success">{{state}}</span>
                </a>-->
              </mat-expansion-panel>
          </mat-accordion>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="bg-info" style="position: absolute;">
        <mat-toolbar-row class="col-md-12" style="margin-top: 7px;display: flexbox;justify-content: center;z-index: 999;">
            <div class="row col-md-6 justify-content-start">
              <div style="margin-bottom: 2px;margin-right: 5px;">
                  <a href="javascript:void(0);">
                      <mat-icon style="color: white;font-size: 25px;padding-top: 4px;" (click)="sidenav.toggle()">
                          menu</mat-icon>
                  </a>
              </div>
              <div style="color: white;">
                  MENU
              </div>
            </div>
            <div class="row col-md-6 justify-content-end">
              <button mat-button [matMenuTriggerFor]="beforeMenu" style="color: white;font-size: 18px;">Hola, {{usuario}}<mat-icon style="margin-bottom: 5px;">more_vert</mat-icon></button>
                  <mat-menu #beforeMenu="matMenu" xPosition="before">
                      <div style="background-color: #e8f0fe;margin: 10px;border-radius: 4px;padding: 0 30px;margin-bottom: 20px;margin-top: -4px;">
                          <p style="font-size: 13px;font-weight: 400;">Gestionado por Restu</p>
                      </div>
                      <div style="padding: 0 8px;margin: 10px;margin-bottom: 20px; ">
                          <div style="text-align: center;color: white;">
                              <img src="https://atento.titalab.com/central/assets/images/ico-avatar.png" style="width: 80px;height:80px;border-radius:50%;margin-left: 5px">
                          </div>
                      </div>
                      <div style="text-align: center;font-size: 16px;margin-bottom: 20px;" >
                          <p style="margin-bottom: -0.5px;font-weight: 500;">{{name}}</p>
                          <p style="margin-bottom: -0.5px;">{{email}}</p>
                          <p style="color: rgb(167, 167, 167);">{{rol}}</p>
                      </div>
                      <div style="text-align: center;margin-bottom: 17px;font-size: 16px;">
                          <button mat-stroked-button style="border-radius: 20px; font-weight: 400;" disabled>Gestionar cuenta</button>
                      </div>
                      <mat-divider></mat-divider>
                      <div style="text-align: center;margin-bottom: 17px;font-size: 16px;">
                          <button class="logout" mat-stroked-button style="border-radius: 20px; font-weight: 400;margin-top: 17px;" (click)="logout()" >Cerrar sesión</button>
                      </div>
                      <mat-divider></mat-divider>
                      <div style="text-align: center;margin-top: 17px;">
                          <p style="font-size: 12px;">Políticas de Privacidad</p>
                      </div>
                  </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet style="position: relative;"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
