.mat-form-field{
  font-size: 12px;
}

.section-principal{
  padding-top: 80px;
  height:100%;
}
  .principal-cont{
    width: 90%;
    background-color: #f3f3f3ab;
    border-radius: 10px;
    border: 1px solid;
  }

.chef-bg{
background-image: url("../../../../assets/backgrounds/arrozconmariscos.png");
max-width: 100%;
max-height: 200%;
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/*F*/
