.mat-form-field{
  font-size: 12px;
}

.section-principal{
  padding-top: 80px;
}
  .principal-cont{
    width: 90%;
    background-color:#f3f3f3ab;
    border-radius: 10px;
    border: 1px solid;
  }

.category-bg{
background-image: url("../../../../assets/backgrounds/arrozconmariscos.png");
  max-width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
