<section class="section-principal category-bg">
  <div class="container pt-5 principal-cont">
      <div class="">
          <h1>Registro de Category</h1>
      </div>
      <!-- Form para guardar los datos del chef y se captura con [(ngModel)] -->
      <form>
          <div class="form-row" >
              <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                  <mat-label>Nombre de la categoría</mat-label>
                  <input matInput [(ngModel)]="category.name" [formControl]="nameFormControl"  autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressLetters($event)" required>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                      Este campo es <strong>requerido</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="form-row" >
              <mat-form-field class="col-md-12" appearance="outline" style="width: 100%;" autocomplete="off">
                  <mat-label>Descripción de la categoría de la categoría</mat-label>
                  <input matInput [(ngModel)]="category.description" [formControl]="descriptionFormControl"  autocomplete="off" type="text" style="color: black !important;" (keypress)="keypressLetters($event)" required>
                  <mat-error *ngIf="descriptionFormControl.hasError('required')">
                      Este campo es <strong>requerido</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <!-- Div de botones para regresar o guardar los datos de los campos -->
          <div class="form-row pt-2">
              <div class="col-sm-12 text-right">
                  <button mat-raised-button color="accent" style="margin-bottom: 15px;margin-right: 8px;" (click)="regresar()">Regresar</button>
                  <button mat-raised-button color="primary" style="margin-bottom: 15px;" (click)="guardarCategory()">Guardar</button>
              </div>
          </div>
      </form>
  </div>
</section>




